#
# Curated OPIE 1.2.5 profile for the 16 MiB BE-300 NAND image.
#
CONFIG_TARGET_BE300=y
# CONFIG_TARGET_X86 is not set
# CONFIG_TARGET_SHARP is not set
# CONFIG_TARGET_IPAQ is not set
# CONFIG_TARGET_OE is not set
CONFIG_OPTIMIZE=y
CONFIG_OPTIMIZATIONS="-march=mips2 -mfpxx -Os -fomit-frame-pointer"
# CONFIG_THREADED is not set
# CONFIG_STATIC is not set
# CONFIG_DEBUG is not set
CONFIG_RELEASE=y
CONFIG_QUICK_LAUNCH=y
CONFIG_QUICKLAUNCH_PATH="/opt/QtPalmtop/bin/quicklauncher"
CONFIG_SPECFILE="qws/linux-be300-g++"
CONFIG_OPIE_NO_BUILTIN_SHUTDOWN=y
CONFIG_OPIE_NO_BUILTIN_CALIBRATE=y
CONFIG_OPIE_SOUND_FRAGMENT_SHIFT="14"
CONFIG_USE_FILE_NOTIFICATION=y
CONFIG_OPIE_NEW_ALLOC=y
CONFIG_LIBQPE=y
CONFIG_LIBQPE_NO_INLINE_IMAGES=y
CONFIG_LIBQTAUX=y
CONFIG_LIBOPIE2CORE=y
# CONFIG_LIBOPIE2DB is not set
CONFIG_LIBOPIE2PIM=y
CONFIG_LIBOPIE2UI=y
# CONFIG_LIBOPIE2MM is not set
CONFIG_LIBOPIE2SECURITY=y
CONFIG_LIBQRSYNC=y
CONFIG_OPIEALARM=y
CONFIG_QUICKLAUNCHER=y
CONFIG_HOTPLUG_QCOP=y
CONFIG_LAUNCHER=y
CONFIG_SYMLINKER=y
CONFIG_EMBEDDEDKONSOLE=y
CONFIG_HELPBROWSER=y
CONFIG_TEXTEDIT=y
CONFIG_ADDRESSBOOK=y
CONFIG_DATEBOOK=y
CONFIG_TODO=y
CONFIG_NOTES=y
CONFIG_ADVANCEDFM=y
CONFIG_CALCULATOR=y
CONFIG_CLOCK=y
CONFIG_SYSINFO=y
CONFIG_UBROWSER=y
# CONFIG_VMEMO is not set
# CONFIG_VOLUMEAPPLET is not set
# CONFIG_VOLUMEAPPLET2 is not set
# CONFIG_OPIE_EYE is not set
# CONFIG_OPIE_EYE_SLAVE is not set
# CONFIG_OPIEPLAYER is not set
# CONFIG_OPIEPLAYER2 is not set
# CONFIG_OPIEREC is not set
# CONFIG_LIBMAD is not set
# CONFIG_LIBMPEG3 is not set
# CONFIG_LIBTREMOR is not set
# CONFIG_LIBTREMORPLUGIN is not set
# CONFIG_MODPLUG is not set
# CONFIG_WAVPLUGIN is not set
# CONFIG_SOUND is not set
# CONFIG_OBEX is not set
CONFIG_LAUNCHER-SETTINGS=y
CONFIG_BUTTON-SETTINGS=y
CONFIG_LIGHT-AND-POWER=y
CONFIG_CITYTIME=y
CONFIG_SECURITY=y
CONFIG_HANDWRITING=y
CONFIG_PICKBOARD=y
CONFIG_KEYBOARD=y
CONFIG_FLAT=y
CONFIG_DECO_FLAT=y
